In [1]:
def print_pyramid(rows):
    for i in range(rows):
        print(" " * (rows - i - 1) + "* " * (i + 1))

print_pyramid(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [11]:
rows = int(input("Enter number of rows: "))

for i in range(1, rows+1):
    print(" "*(rows-i) + " ".join(str(i+j-1) for j in range(1, 2*i)))

Enter number of rows: 5
    1
   2 3 4
  3 4 5 6 7
 4 5 6 7 8 9 10
5 6 7 8 9 10 11 12 13

In [7]:
def print_pattern(n):
    for i in range(n):
        for j in range(i + 1):
            print("*", end=" ")
        print()
print_pattern(5)

*
* *
* * *
* * * *
* * * * *

In [5]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

Enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(0, i):
        print("* ", end=" ")

    print()

Enter number of rows: 5
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [10]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(1,i+1):
        print(j, end=" ")

    print()

Enter number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [3]:
def print_square(rows):
    for i in range(rows):
        print("* " * rows)

print_square(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
def print_square_box(n):
    print('*' * n)
    for _ in range(n - 2):
        print('' + ' ' * (n - 2) + '')
    if n > 1:
        print('*' * n)

print_square_box(5)

*****



*****